body{
    background-image: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../images/image1.jpg');
    background-position: center;
    background-size: cover;
}
.about{
    padding:20px;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
}
.about p{
    color:white;
    font-family: 'Jacques+Francois+Shadow&family=Noto+Sans';
    font-size:25px;
}
.about h1{
    font-weight: 500; 
    font-size:30px;  
    color: rgb(202, 80, 80);
    text-decoration:underline;
}
.about img{
   border-radius: 10px;
}
.text-container {
    width:500px;
    display:flex;
    flex-direction:column;
}

.mission_vision{
    padding:20px;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    color: aliceblue;
}

.mission_vision p{
    font-family: 'Jacques+Francois+Shadow&family=Noto+Sans';
    font-size:20px;
}
.mission_vision h1 {
    font-weight: 200; 
    font-size:30px; 
    color:rgb(202, 80, 80);
    text-decoration:underline;
}
.objectives ul{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color:rgb(202, 80, 80);
}
.objectives li{
    cursor: pointer;
    padding:10px;
    /* border-bottom: 2px solid #695b5b; */
    border-right: #695b5b;
}
.objectives p {
    font-size:30px;
    border-right: 2px solid #695b5b;
}
.objectives  p span {
    font-size: 60px;
    display:flex ;

}

.founder-container{
    margin-top: 10px;
    padding: 20px;
    height: 300px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-top:2px solid #695b5b;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 2px rgba(110, 61, 61, 0.3)
}
.Founder_description{
    font-size: 20px;
    color:aliceblue;
    background-color: bisque;

}
.founder-container img {
    border-radius: 10px;
}
.contact {
    padding-top:50px ;
    background-image:linear-gradient(to right, black, rgb(46, 46, 161));
    color:aliceblue;  
}
.contact-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.contact-col img {
    width: 30px;
    padding: 5px;
}
.contact-col li {
    display: flex;
    flex-direction: row;
}